<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小銭計算プログラム</title>

    <!-- BootStrap インストール -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1 class="mt-5">小銭の計算</h1>

                <div>
                    <p>いくら？</p>
                    <p>
                        <input type="number" maxlength="10" name="price" v-model="price">
                        <button v-on:click="calc()">計算</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 offset-2" v-model="yen500">
                <p>500円: {{ yen500 }}</p>
            </div>

            <div class="col-4" v-model="yen100">
                <p>100円: {{ yen100 }}</p>
            </div>

            <div class="col-4 offset-2" v-model="yen50">
                <p>50円: {{ yen50 }}</p>
            </div>

            <div class="col-4" v-model="yen10">
                <p>10円: {{ yen10 }}</p>
            </div>

            <div class="col-4 offset-2" v-model="yen5">
                <p>5円: {{ yen5 }}</p>
            </div>
            
            <div class="col-4" v-model="yen1">
                <p>1円: {{ yen1 }}</p>
            </div>
        </div>
    </div>

    <!-- Vue.js3 CDN インストール -->
    <script src="https://unpkg.com/vue@next"></script>

    <script>
        const coinApp = {
            data() {
                return {
                    price: 0,
                    yen500: 0,
                    yen100: 0,
                    yen50: 0,
                    yen10: 0,
                    yen5: 0,
                    yen1: 0
                }
            },
            methods: {
                calc() {
                    change = this.price;

                    // changeの値を500で割る(Math.floorで小数点切り捨て)
                    this.yen500 = Math.floor(change / 500);
                    change %= 500;

                    // changeの値を100で割る(Math.floorで小数点切り捨て)
                    this.yen100 = Math.floor(change / 100);
                    change %= 100;

                    // changeの値を50で割る(Math.floorで小数点切り捨て)
                    this.yen50 = Math.floor(change / 50);
                    change %= 50;

                    // changeの値を10で割る(Math.floorで小数点切り捨て)
                    this.yen10 = Math.floor(change / 10);
                    change %= 10;

                    // changeの値を5で割る(Math.floorで小数点切り捨て)
                    this.yen5 = Math.floor(change / 5);
                    this.yen1 = change % 5;

                    console.log(change);
                }
            }
        }

        Vue.createApp(coinApp).mount('#app')
    </script>
    
</body>
</html>